<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">



    <title>Dinha Kids - Tabela </title>

    <!-- Estilo do Formulário -->

    <style>
        .message {
            display: none;
            padding: 10px;
            margin-top: 10px;
            width: 100%; /* Garantindo que ambas as mensagens tenham o mesmo tamanho */
            white-space: nowrap;
        }
        .success {
            color: green !important; /* Adicionando !important */
            font-size: 2em; /* Tamanho do texto ajustado para o dobro do tamanho */
        }
        .error {
            color: red !important; /* Adicionando !important */
        }

        .button-container {
        margin-top: 20px; /* Ajusta conforme necessário */
        width: 100%; /* Ocupa toda a largura disponível */
    }

    .btn-user {
        width: auto; /* Ajusta automaticamente a largura baseada no conteúdo */
    }

    </style>

    <!-- Fontes personalizadas para este modelo -->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Estilos personalizados para este modelo -->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">

    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">


    <!-- Custom styles for this page -->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- antes:  href="../static/templates\dashboard.html" -->
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/dashboard.html}">

            <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Dinha Kids <sup>Tabela</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/dashboard.html}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>



            <!-- Nav Item - Pages Collapse Menu -->




            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Páginas</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Tela de login:</h6>
                        <a class="collapse-item" th:href="@{/login.html}">Login</a>


                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Tabelas:</h6>
                        <a class="collapse-item" th:href="@{/categorias/categoria/tabela}">Tabela categoria</a>
                        <a class="collapse-item" th:href="@{/produtos/tables/tabela}">Tabela produtos</a>

                    </div>
                </div>
            </li>




            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>



                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>








                        <!-- Nav Item - User Information -->


                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Tabela de Produtos</h1>
                    <p class="mb-4"> Registro de Produtos da Dinha Kids.</p>

                    <!-- Formulário -->

                    <div class="container">

                        <div class="card o-hidden border-0 shadow-lg my-5">
                            <div class="card-body p-0">
                                <!-- Linha aninhada no corpo do cartão -->
                                <div class="row">
                                    <div class="col-lg-5 d-none d-lg-block" th:style="'background-image: url(' + @{/img/produto3.jpeg} + '); background-size: cover;'"></div>


                                    <div class="col-lg-7">
                                        <div class="p-5">
                                            <div class="text-center">
                                                <h1 class="h4 text-gray-900 mb-4">Adicione o produto aqui!</h1>
                                            </div>
                                            <form class="user" method="POST" action="/categorias/categoria/cadastrar">
                                                <div class="form-group row">
                                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                                        <input type="text" class="form-control form-control-user" name="name" placeholder="Nome da categoria">
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <input type="number" class="form-control form-control-user" name="id" placeholder="id da categoria">
                                                    </div>

                                                    <!-- Envolve o botão em uma div com classe 'button-container' -->
                                                    <div class="button-container">
                                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                                            Salvar dados
                                                        </button>
                                                    </div>
                                                    <hr>
                                                    <div id="mensagemSucesso" class="message success"></div>
                                                    <div id="mensagemErro" class="message error"></div>
                                            </form>
                                        </div>
                                            <hr>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Tabela de Produtos</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nome da categoria</th>
                                            <th>id da categoria</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Nome da categoria</th>
                                            <th>id da categoria</th>
                                        </tr>
                                    </tfoot>

                                    <tbody>

                                    <tr th:each="categorias : ${categorias}">
                                        <td th:text="${categorias.name}"></td>
                                        <td th:text="${categorias.id}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="
                    yright text-center my-auto">
                        <span>Unifavip developers &copy; 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" th:href="@{/login.html}">Logout</a>
                </div>
            </div>
        </div>
    </div>



    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Script de Manipulação do Formulário -->
    <script>
        $(document).ready(function() {
            $('form.user').on('submit', function(e) {
                e.preventDefault(); // Impede o comportamento padrão de recarregar a página

                var formData = $(this).serialize(); // Serializa os dados do formulário
                $.ajax({
                    url: '/categorias/categoria/cadastrar',
                    type: 'POST',
                    data: formData,
                    success: function(response) {
                        // Limpa os campos do formulário após a inserção bem-sucedida
                        $('input[name="name"]').val('');
                        $('input[name="id"]').val('');

                        // Atualiza a div de mensagem para exibir a mensagem de sucesso
                        $('#mensagemSucesso').show().text('Categoria inserida com sucesso!').css('font-size', '2em');
                        $('#mensagemErro').hide(); // Esconde a mensagem de erro, se estiver visível

                        // Esconde a div novamente após alguns segundos
                        setTimeout(function() {
                            $('#mensagemSucesso').hide();
                        }, 3000); // Mostra a mensagem por 3 segundos
                    },
                    error: function(xhr, status, error) {
                        // Atualiza a div de mensagem para exibir a mensagem de erro
                        $('#mensagemErro').show().text('Erro na inserção da Categoria!').css('font-size', '2em');
                        $('#mensagemSucesso').hide(); // Esconde a mensagem de sucesso, se estiver visível

                        // Esconde a div novamente após alguns segundos
                        setTimeout(function() {
                            $('#mensagemErro').hide();
                        }, 3000); // Mostra a mensagem por 3 segundos

                        // Log de erro para depuração
                        console.error('Erro:', error);
                    }
                });
            });
        });
    </script>


    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>



    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>


</body>

</html>